<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>string interpolation</h1>
  <h4>5 + 5 = {{5+5}}</h4>
  <h4>{{'francisco '.repeat(3)}}</h4>
  <h2>{{name}}</h2>

  <h1>property binding</h1>
  <button [disabled]="btnDisable">Enviar</button>
  <input type="text" [value]="person.name">
  <progress max="100" [value]="person.age"></progress>

  <h1>Eventos </h1>
  <button [disabled]="btnDisable">Enviar</button>
  <button (click)="toggleButton()">toggleButton</button>
  <p>Edad = {{person.age}}</p>
  <br>
  <div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eius reprehenderit, asperiores illo corrupti impedit laborum, nisi veniam repudiandae, voluptatum nesciunt possimus totam quisquam. Laudantium praesentium quam possimus suscipit dignissimos.</p>
  </div>
  <br>
  <h1>Cambiar texto desde un input</h1>
  <h2>{{person.name}}</h2>
  <input type="text" [value]="person.name" (keyup)="changeText($event)">
  <br>

  <h1>Data binding</h1>
  <h2>{{person.name}}</h2>
  <input type="text"maxlength="10" minlength="10" required #nameInput="ngModel" [(ngModel)]="person.name">
  <p>Valid : {{nameInput.valid}}</p>
  <br>
  <h1>*ngIf</h1>
  <input type="text"maxlength="10" minlength="10" [(ngModel)]="person.name">
  <p *ngIf="person.name == 'pipo'; else myBlock">Soy Francisco ramirez</p>
  <ng-template #myBlock >
    <p>Bloque else</p>
  </ng-template>
  <br>
  <h1>*ngFor</h1>
  <input type="text" required [(ngModel)]="newName">
  <button (click)="addName()">addName</button>
  <ul>
  <li *ngFor="let name of names;index as i ">
      {{i}}-{{name}}
      <button (click)="deleteName(i)">Delete</button>
  </li>
 </ul>
</body>
</html>
